<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="xxxxxxx" />
    <!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. -->
    <add key="ConsumerSecret" value="xxxxxx" />
    <!-- Secret is generated along with the Consumer Key -->
    <add key="SecurityToken" value="xxxxxx" />
    <!-- My Settings -> Personal -> Reset My Security Token  -->
    <add key="Username" value="txxxx@xxx.com" />
    <!-- My Settings -> Personal -> Personal Information  -->
    <add key="Password" value="xxxxxx" />
    <!-- My Settings -> Personal -> Change My Password  -->

    <add key="TokenRequestEndpointSandboxUrl" value="https://test.salesforce.com/services/oauth2/token" />
    <add key="TokenRequestEndpointProductionUrl" value="https://login.salesforce.com/services/oauth2/token" />
    <add key="BulkApiLoginUrl" value="https://test.salesforce.com/services/Soap/c/31.0/" />

    <!--set to true to point  SimpleConsole at a Sandbox environment (test.salesforce.com) -->
    <add key="IsSandboxUser" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="WorlWideImporters" connectionString="Data Source=cloudsolutions.database.windows.net,1433;Initial Catalog=WorldWideImporters;Integrated Security=False;User ID=sqladmin;Password=I'm the admin;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://login.salesforce.com/services/Soap/c/39.0/0DFi0000000XbIG" binding="basicHttpBinding" bindingConfiguration="SoapBinding" contract="salesforceService.Soap" name="Soap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
